body {
  background-color: black;
  color: #fff;
}

.container {
  background-color: black;
  margin-bottom: 0;
  border: none;
}

.choice-container {
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: rgb(18, 93, 255);
  margin-bottom: 10px;
  font-size: 25px;
  border-radius: 4px;
  padding: 25px 10px;
  width: 500px;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem rgba(6, 103, 247, 0.5);
}

.choice-container:disabled {
  cursor: no-drop;
}

.correct {
  background: linear-gradient(
    32deg,
    rgba(11, 223, 36) 0%,
    rgb(41, 232, 111) 100%
  );
}

.incorrect {
  background: linear-gradient(
    32deg,
    rgba(230, 29, 29, 1) 0%,
    rgb(224, 11, 11, 1) 100%
  );
}

#hud {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#question {
  margin: 20px 0 40px;
}

.hud-prefix {
  font-size: 20px;
}

.hud-item {
  display: flex;
  align-items: center;
  gap: 25px;
}
